*:focus {
  border: none;
}

input:focus {
  outline: none;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
input::placeholder {
  color: #3b3e403a(145, 162, 240) !important;
  // font-weight: bold;
  font-size: 1rem !important;
  text-align: left;
}
.min-height-screen {
  min-height: 100vh;
}

// swiper

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
